.features__item {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
}

.features__title,
.small-features-title,
.other-features-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.features__number,
.features__description,
.small-features-paragraph,
.other-features-number,
.other-features-paragraph {
  font-size: 14px;
  line-height: 21px;
}

.features__small-features-list,
.features__other-features-list {
  list-style: none;
}

.small-features-title,
.small-features-paragraph {
  text-align: left;
}

.small-features-paragraph,
.other-features-number,
.other-features-paragraph {
  color: #333333;
}

.other-features-number,
.other-features-paragraph {
  text-align: center;
}

.features__other-features {
  background-color: #efefef;
}
