.menu__item {
  background-color: $bg-lightblue;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
}

.menu__link {
  text-decoration: none;
  color: $text-white;
}

.menu__toggle {
  &::after {
    content: "";
    background-image: url("../img/icon-menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 23px;
    height: 21px;
    display: block;
  }
}
