.page-footer__tag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

.social__list {
  list-style: none;
}

.social__item {
  background-color: $bg-lightblue;
}

.developed__text {
  line-height: 26px;
  text-align: center;
}
