.photos__title, .photos__author, .photos__like-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
}
.photos__author {
  font: normal;
  color: #333333;
  text-transform: none;
}

