$bg-lightblue: #81b3d2;
$bg-lightgrey: #efefef;
$text-grey: #333333;
$text-white: #ffffff;
$tablet-width: 768px;
$desktop-width: 1200px;
@import "blocks/menu.scss";
@import "blocks/page-main.scss";
@import "blocks/text-container.scss";
@import "modules/paragraph.scss";
@import "modules/heading.scss";
@import "blocks/page-footer.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
