.heading {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    &--white {
      color: $text-white;
    }
    &--left {
      text-align: left;
    }
    &--photo {
      font-size: 14px;
      line-height: 24px;
      text-align: left;
    }
}
